<template>
  <el-form
    ref="loginForm"
    :model="loginFormDefault"
    :rules="loginRules"
    class="login-form"
    autocomplete="on"
    label-position="left"
  >
    <div class="title-container">
      <h3 class="title">
        {{ localization.login.title }}
      </h3>
      <!--
        <lang-select class="set-language" />
        -->
    </div>

    <el-form-item prop="username">
      <span class="svg-container">
        <svg-icon name="user" />
      </span>
      <el-input
        ref="username"
        v-model="loginFormDefault.username"
        :placeholder="localization.login.username"
        name="username"
        type="text"
        tabindex="1"
        autocomplete="on"
      />
    </el-form-item>

    <el-tooltip
      v-model="capsTooltip"
      content="Caps lock is On"
      placement="right"
      manual
    >
      <el-form-item prop="password">
        <span class="svg-container">
          <svg-icon name="lock" />
        </span>
        <el-input
          :key="passwordType"
          ref="password"
          v-model="loginFormDefault.password"
          :type="passwordType"
          :placeholder="localization.login.password"
          name="password"
          tabindex="2"
          autocomplete="on"
          @keyup="checkCapslock"
          @blur="capsTooltip = false"
          @keyup.enter="handleLogin"
        />
        <span class="show-pwd" @click="showPwd">
          <svg-icon v-if="passwordType === 'password'" name="eye-off" />
          <svg-icon v-else name="eye-on" />
        </span>
      </el-form-item>
    </el-tooltip>

    <el-button
      :loading="loading"
      type="primary"
      style="width: 100%; margin-bottom: 30px"
      @click.prevent="handleLogin"
    >
      {{ localization.login.logIn }}
    </el-button>
    <el-button type="text" @click="register"
      >Click here to register an account.</el-button
    >
  </el-form>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted, nextTick } from 'vue'
import { isValidUsername } from '@/utils/validate'
import { localization } from '@/lang/en'
import { useStore } from 'vuex'
import { useRouter } from 'vue-router'

export default defineComponent({
  name: 'Credentials',
  emits: ['validated'],
  setup(_, { emit }) {
    const store = useStore()
    const router = useRouter()
    const username = ref<any>(null)
    const password = ref<any>(null)
    const loginForm = ref<any>(null)
    const passwordType = ref('password')
    const loading = ref(false)
    const showDialog = ref(false)
    const capsTooltip = ref(false)
    const redirect = ref('')

    const validateUsername = (rule: any, value: string, callback: Function) => {
      if (!isValidUsername(value)) {
        callback(new Error('Please enter the correct user name'))
      } else {
        callback()
      }
    }
    const validatePassword = (rule: any, value: string, callback: Function) => {
      if (value.length < 6) {
        callback(new Error('The password can not be less than 6 digits'))
      } else {
        callback()
      }
    }
    const loginFormDefault = ref({
      username: '',
      password: '',
    })
    const loginRules = ref({
      username: [{ validator: validateUsername, trigger: 'blur' }],
      password: [{ validator: validatePassword, trigger: 'blur' }],
    })
    const showPwd = () => {
      if (passwordType.value === 'password') passwordType.value = ''
      else passwordType.value = 'password'

      nextTick(() => password.value.focus())
    }
    const checkCapslock = (e: KeyboardEvent) => {
      const { key } = e
      capsTooltip.value =
        key !== null && key.length === 1 && key >= 'A' && key <= 'Z'
    }
    const handleLogin = () => {
      loginForm.value.validate(async(valid: boolean) => {
        if (valid) {
          loading.value = true
          store.dispatch('Login', loginFormDefault.value).then((response) => {
            if (response.verify) {
              emit('validated', response.verify)
            } else {
              router.push({ path: redirect.value || '/' })
            }
            loading.value = false
          })
          // Just to simulate the time of the request
          setTimeout(() => {
            loading.value = false
          }, 0.5 * 2000)
        } else {
          return false
        }
      })
    }
    const register = () => router.push({ path: '/register' })
    onMounted(() => {
      if (loginFormDefault.value.username === '') {
        username.value.focus()
      } else if (loginFormDefault.value.password === '') {
        password.value.focus()
      }
    })

    return {
      showPwd,
      checkCapslock,
      localization,
      validateUsername,
      validatePassword,
      passwordType,
      password,
      username,
      loading,
      showDialog,
      capsTooltip,
      redirect,
      register,
      loginForm,
      loginFormDefault,
      loginRules,
      handleLogin,
    }
  },
})
</script>
