<template>
  <el-form class="mfa-form" label-position="left">
    <div class="title-container">
      <h4 class="title">Enter One-Time Password</h4>
    </div>
    <el-form-item prop="OTPCode">
      <el-input ref="code" v-model="otpCode" name="code" />
    </el-form-item>

    <el-button
      type="primary"
      style="width: 100%; margin-bottom: 30px"
      @click="validateOtp"
    >
      Proceed
    </el-button>
  </el-form>
</template>
<script lang="ts">
import { defineComponent, onMounted, ref } from 'vue'
import { validateCode } from '@/api/users'
import { useStore } from 'vuex'
import { useRouter } from 'vue-router'
export default defineComponent({
  name: 'Verification',
  setup() {
    const store = useStore()
    const router = useRouter()
    const code = ref<any>(null)
    const otpCode = ref('')
    const validateOtp = async() => {
      await validateCode({ code: otpCode.value }).then((response) => {
        store.commit('SET_VALIDATED', response.data)
        router.push({ path: '/' })
      })
    }
    onMounted(() => code.value.focus())
    return {
      code,
      otpCode,
      validateOtp,
    }
  },
})
</script>

