<template>
  <div class="register-container">
    <el-form
      ref="formRegister"
      :model="formData"
      class="register-form"
      label-position="left"
    >
      <div class="title-container">
        <h3 class="title">
          {{ localization.register.title }}
        </h3>
        <!--
          <lang-select class="set-language" />
          -->
      </div>
      <el-form-item prop="username">
        <span class="svg-container">
          <svg-icon name="user" />
        </span>
        <el-input
          ref="username"
          v-model="formData.username"
          :placeholder="localization.register.username"
        />
      </el-form-item>

      <el-form-item prop="first_name">
        <span class="svg-container">
          <svg-icon name="avatar" />
        </span>
        <el-input
          ref="username"
          v-model="formData.first_name"
          :placeholder="localization.register.first_name"
        />
      </el-form-item>

      <el-form-item prop="last_name">
        <span class="svg-container">
          <svg-icon name="avatar" />
        </span>
        <el-input
          ref="username"
          v-model="formData.last_name"
          :placeholder="localization.register.last_name"
        />
      </el-form-item>

      <el-form-item prop="email">
        <span class="svg-container">
          <svg-icon name="message" />
        </span>
        <el-input
          ref="email"
          v-model="formData.email"
          :placeholder="localization.register.email"
        />
      </el-form-item>

      <el-form-item prop="password">
        <span class="svg-container">
          <svg-icon name="lock" />
        </span>
        <el-input
          ref="password"
          v-model="formData.password"
          :placeholder="localization.register.password"
          type="password"
        />
      </el-form-item>

      <el-form-item prop="confirmPassword">
        <span class="svg-container">
          <svg-icon name="lock" />
        </span>
        <el-input
          ref="confirmPassword"
          v-model="formData.confirmPassword"
          :placeholder="localization.register.confirmPassword"
          type="password"
        />
      </el-form-item>

      <el-form-item prop="phone_number">
        <span class="svg-container">
          <svg-icon name="iphone" />
        </span>
        <el-input
          ref="phone_number"
          v-model="formData.phone_number"
          :placeholder="localization.register.phone_number"
        />
      </el-form-item>

      <el-form-item prop="country_code">
        <span class="svg-container">
          <svg-icon name="location-information" />
        </span>
        <el-input
          ref="country_code"
          v-model="formData.country_code"
          :placeholder="localization.register.country_code"
        />
      </el-form-item>

      <el-button
        type="primary"
        style="width: 100%; margin-bottom: 30px"
        @click="submit"
      >
        {{ localization.register.register }}
      </el-button>
      <el-button type="text" @click="login"
        >Already have an account? Login.</el-button
      >
    </el-form>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/runtime-core'
import { localization } from '@/lang/en'
import { IUserState } from '@/store/modules/user'
import { register } from '@/api/users'
import { useRouter } from 'vue-router'
import { ElMessage } from 'element-plus'

interface IUserRegister extends IUserState {
  password: string
  confirmPassword: string
  activate: boolean
}

const defaultUser: IUserRegister = {
  activate: true,
  token: '',
  id: 0,
  username: '',
  email: '',
  first_name: '',
  last_name: '',
  roles: ['subscriber'],
  phone_number: '',
  password: '',
  confirmPassword: '',
  country_code: '',
}

export default defineComponent({
  name: 'Register',
  setup() {
    const formRegister = ref<any>(null)
    const router = useRouter()
    const formData = ref(defaultUser)

    const submit = async() => {
      await register(formData.value)

      formRegister.value.resetFields()

      ElMessage({
        message: 'Registered Successfully',
        type: 'success',
        duration: 2.5 * 1000,
      })

      setTimeout(() => {
        router.push({ path: '/login' })
      }, 3.1 * 1000)
    }

    const login = () => router.push({ path: '/login' })

    return {
      formData,
      formRegister,
      submit,
      login,
      localization,
    }
  },
})
</script>

<style lang="scss">
$registerBg: #2d3a4b;
$registerCursorColor: #fff;
$lightGray: #eee;
$darkGray: #889aa4;

/* // References: https://www.zhangxinxu.com/wordpress/2018/01/css-caret-color-first-line/ */
@supports (-webkit-mask: none) and (not (cater-color: $registerCursorColor)) {
  .register-container .el-input {
    input {
      color: $registerCursorColor;
    }
    input::first-line {
      color: $lightGray;
    }
  }
}

.register-container {
  .el-input {
    display: inline-block;
    height: 47px;
    width: 85%;

    input {
      height: 47px;
      background: transparent;
      border: 0px;
      border-radius: 0px;
      padding: 12px 5px 12px 15px;
      color: $lightGray;
      caret-color: $registerCursorColor;
      -webkit-appearance: none;

      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px $registerBg inset !important;
        -webkit-text-fill-color: #fff !important;
      }
    }
  }

  .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;
  }
}

.register-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: $registerBg;

  .register-form,
  .mfa-form {
    position: relative;
    width: 520px;
    max-width: 100%;
    padding: 80px 35px 0;
    margin: 0 auto;
    overflow: hidden;
  }

  .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;

    span {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }

  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $darkGray;
    vertical-align: middle;
    height: 48px;
    width: 30px;
    display: inline-block;
  }

  .title-container {
    position: relative;

    .title {
      font-size: 26px;
      color: $lightGray;
      margin: 0px auto 40px auto;
      text-align: center;
      font-weight: bold;
    }

    .set-language {
      color: #fff;
      position: absolute;
      top: 3px;
      font-size: 18px;
      right: 0px;
      cursor: pointer;
    }
  }

  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $darkGray;
    cursor: pointer;
    user-select: none;
  }

  .thirdparty-button {
    position: absolute;
    right: 0;
    bottom: 6px;
  }

  @media only screen and (max-width: 470px) {
    .thirdparty-button {
      display: none;
    }
  }
}
</style>
