<template>
  <div class="app-container">
    <div v-if="user">
      <el-row :gutter="20">
        <el-col :span="6" :xs="24">
          <user-card :user="user" />
        </el-col>

        <el-col :span="18" :xs="24">
          <el-card>
            <el-tabs v-model="activeTab">
              <el-tab-pane label="Account" name="account">
                <account :user="user" v-on:updateAccount="updateUserAccount" />
              </el-tab-pane>
              <el-tab-pane label="Password" name="password">
                <password-reset></password-reset>
              </el-tab-pane>
              <el-tab-pane label="Multi-Factor Authentication" name="mfa">
                <mfa />
              </el-tab-pane>
            </el-tabs>
          </el-card>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script lang="ts">
import {
  computed,
  ref,
  defineComponent,
  onBeforeMount,
} from '@vue/runtime-core'
import { useStore } from 'vuex'
import Account from './components/Account.vue'
import UserCard from './components/UserCard.vue'
import PasswordReset from './components/PasswordReset.vue'
import Mfa from './components/Mfa.vue'

export interface IProfile {
  id: number
  first_name: string
  last_name: string
  username: string
  email: string
  avatar: string
  roles: string
}

const defaultProfile: IProfile = {
  id: 0,
  first_name: 'Loading...',
  last_name: 'Loading...',
  email: 'Loading...',
  username: 'Loading...',
  avatar: 'Loading...',
  roles: 'Loading...',
}

export default defineComponent({
  name: 'Settings',
  components: {
    Account,
    UserCard,
    Mfa,
    PasswordReset,
  },
  setup() {
    const store = useStore()

    const user = ref(defaultProfile)
    const activeTab = ref('account')

    const id = computed((): number => store.state.user.id)
    const email = computed((): string => store.state.user.email)
    const username = computed((): string => store.state.user.username)
    const first_name = computed((): string => store.state.user.first_name)
    const last_name = computed((): string => store.state.user.last_name)
    const avatar = computed((): string => store.state.user.avatar)
    const roles = computed((): string[] => store.state.user.roles)

    const updateUserAccount = (event: any) => {
      user.value = event
    }

    onBeforeMount(() => {
      user.value = {
        id: id.value,
        first_name: first_name.value,
        last_name: last_name.value,
        email: email.value,
        username: username.value,
        avatar: avatar.value,
        roles: roles.value.join(' | '),
      }
    })

    return {
      email,
      first_name,
      last_name,
      roles,
      user,
      avatar,
      activeTab,
      updateUserAccount,
    }
  },
})
</script>
