<template>
  <div :class="{'has-logo': showLogo}">
    <sidebar-logo
      v-if="showLogo"
      :collapse="isCollapse"
    />
    <el-scrollbar wrap-class="scrollbar-wrapper">
      <el-menu
        :default-active="activeMenu"
        :collapse="isCollapse"
        :collapse-transition="false"
        :unique-opened="false"
        :background-color="vars.menuBg"
        :text-color="vars.menuText"
        :active-text-color="menuActiveTextColor"
        mode="vertical"
      >
        <sidebar-item
          v-for="route in routes"
          :key="route.path"
          :item="route"
          :base-path="route.path"
          :is-collapse="isCollapse"
        />
      </el-menu>
    </el-scrollbar>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from '@vue/runtime-core'
import variables from '@/styles/modules/variables.module.scss'
import { useRoute } from 'vue-router'
import SidebarItem from './SidebarItem.vue'
import SidebarLogo from './SidebarLogo.vue'
import { useStore } from 'vuex'


export default defineComponent({
	name: 'Sidebar',
  components: {
    SidebarItem,
    SidebarLogo
  },
	setup() {
    const store = useStore()
		const sidebar = store.state.app.sidebar
		const routes = computed( () => store.state.permission.routes )
		const showLogo = computed( () => store.state.setting.showSidebarLogo)
		const isCollapse = computed( () => !sidebar.opened )
		const route = useRoute()
		const vars = variables

		const menuActiveTextColor = computed( () => {
			if (store.state.setting.sidebarTextTheme) {
				return store.state.setting.theme
			} else {
				return variables.menuActiveText
			}
		})

		const activeMenu = computed( () => {
			const { meta, path } = route
    	// if set path, the sidebar will highlight the path you set
			if (meta.activeMenu) { 
				return meta.activeMenu
			}
			return path
    })

		return {
      activeMenu,
			showLogo,
			isCollapse,
			routes,
			vars,
			menuActiveTextColor,
		}
	}
})
</script>

<style lang="scss">
.sidebar-container {
  // reset element-ui css
  .horizontal-collapse-transition {
    transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
  }

  .scrollbar-wrapper {
    overflow-x: hidden !important;
  }

  .el-scrollbar__view {
    height: 100%
  }

  .el-scrollbar__bar {
    &.is-vertical {
      right: 0px;
    }

    &.is-horizontal {
      display: none;
    }
  }
}
.el-menu-item {
  text-align: left;
}
</style>

<style lang="scss" scoped>
.el-scrollbar {
  height: 100%
}

.has-logo {
  .el-scrollbar {
    height: calc(100% - 50px);
  }
}

.el-menu {
  border: none;
  height: 100%;
  width: 100% !important;
}
</style>
