<template>
  <div
    v-if="!item.meta || !item.meta.hidden"
    :class="[isCollapse ? 'simple-mode' : 'full-mode', {'first-level': isFirstLevel}]"
  >
    <template v-if="!alwaysShowRootMenu && theOnlyOneChild && !theOnlyOneChild.children">
      <sidebar-item-link
        v-if="theOnlyOneChild.meta"
        :to="resolvePath(theOnlyOneChild.path)"
      >
        <el-menu-item
          :index="resolvePath(theOnlyOneChild.path)"
          :class="{'submenu-title-noDropdown': isFirstLevel}"
        >
          <svg-icon
            v-if="theOnlyOneChild.meta.icon"
            :name="theOnlyOneChild.meta.icon"
          />
          <template #title>
            <span
              v-if="theOnlyOneChild.meta.title"
            >
              {{ locale.route[theOnlyOneChild.meta.title] }}
            </span>
          </template>
        </el-menu-item>
      </sidebar-item-link>
    </template>

    <el-sub-menu
      v-else
      :index="resolvePath(item.path)"
    >
      <template #title>
        <svg-icon
          v-if="item.meta && item.meta.icon"
          :name="item.meta.icon"
        />
        <span
          v-if="item.meta && item.meta.title"
        >
          {{ locale.route[item.meta.title] }}
        </span>
      </template>
      <template v-if="item.children">
        <sidebar-item
          v-for="child in item.children"
          :key="child.path"
          :item="child"
          :is-collapse="isCollapse"
          :is-first-level="false"
          :base-path="resolvePath(child.path)"
          class="nest-menu"
        />
      </template>
    </el-sub-menu>
  </div>
</template>

<script lang="ts">
import path from 'path'
import { defineComponent, PropType, computed } from '@vue/runtime-core'
import { RouteRecordNormalized } from 'vue-router'
import { isExternal } from '@/utils/validate'
import SidebarItemLink from './SidebarItemLink.vue'
import { localization } from '@/lang/en'


interface IRouteConfig extends RouteRecordNormalized {
  meta: {
    alwaysShow: boolean
    icon: string
  }
}

// Set 'name' here to prevent uglifyjs from causing recursive component not work
// See https://medium.com/haiiro-io/element-component-name-with-vue-class-component-f3b435656561 for detail
export default defineComponent({
  name: 'SidebarItem',
  components: {
    SidebarItemLink,
  },
  props: {
    item: {
      required: true,
      type: Object as PropType<IRouteConfig>
    },
    isCollapse: {
      default: false,
      type: Boolean
    },
    isFirstLevel: {
      default: true,
      type: Boolean
    },
    basePath: {
      default: '',
      type: String
    }
  },
  setup(props) {
    const locale = localization
    const alwaysShowRootMenu = computed( () => {
      if ( props.item.meta && props.item.meta.alwaysShow ) {
        return true
      }
      return false
    })

    const showingChildNumber = () => {
      if ( props.item.children ) {
        const showingChildren = props.item.children.filter((item: any) => {
          if ( item.meta && item.meta.hidden ) {
            return false
          } else {
            return true
          }
        })
        return showingChildren.length
      }
      return 0
    }

    const theOnlyOneChild = computed( () => {
      if ( showingChildNumber() > 1 ) {
        return null
      }
      if ( props.item.children ) {
        for (const child of props.item.children) {
          if (!child.meta || !child.meta.hidden) {
            return child
          }
        }
      }
      // If there is no children, return itself with path removed,
      // because this.basePath already conatins item's path information
      /* return { ...props.item, path: '' } */
      return { ...props.item, path: '' }
    })

    const resolvePath = (routePath: string) => {
      if (isExternal(routePath)) {
        return routePath
      }
      if (isExternal(props.basePath)) {
        return props.basePath
      }
      return path.resolve(props.basePath, routePath)
    }

    return {
      alwaysShowRootMenu,
      theOnlyOneChild,
      resolvePath,
      locale
    }
  }
})
</script>

<style lang="scss">
$subMenuActiveText:#f4f4f5;
$sideBarWidth: 210px;
$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

.el-submenu.is-active > .el-submenu__title {
  color: $subMenuActiveText !important;
}

.full-mode {
  .nest-menu .el-submenu>.el-submenu__title,
  .el-submenu .el-menu-item {
    min-width: $sideBarWidth !important;
    background-color: $subMenuBg !important;

    &:hover {
      background-color: $subMenuHover !important;
    }
  }
}

.simple-mode {
  &.first-level {
    .submenu-title-noDropdown {
      padding: 0px !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;
      }
      svg { /* Fix svg icon not aligned */
        margin: 0px !important;
      }
    }

    .el-sub-menu {
      overflow: hidden;

      &>.el-sub-menu__title {
        padding: 0px !important;

        .el-sub-menu__icon-arrow {
          display: none;
        }

        &>span {
          visibility: hidden;
        }
      }
    }
  }
}
</style>

<style lang="scss" scoped>
.svg-icon {
  margin-right: 16px;
}

.simple-mode {
  .svg-icon {
    margin-left: 20px;
  }
}
</style>
