<template>
  <div
    :class="[{'is-active': isActive}]"
    @click="toggleClick"
  >
    <svg-icon
      name="hamburger"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "@vue/runtime-core"


export default defineComponent({
  name: 'Hamburger',
  props: {
    isActive: {
      default: false,
      type: Boolean
    }
  },
  setup(props, { emit }) {
    const toggleClick = () => {
      emit('toggle-click') 
    }

    return {
      toggleClick
    }
  }
})
</script>

<style lang="scss" scoped>
.is-active {
  transform: rotate(180deg);
}
.hamburger-container {
  display: flex;
  align-items: center;
}
</style>
