<template>
  <el-breadcrumb
    class="app-breadcrumb"
    separator="/"
  >
    <transition-group name="breadcrumb">
      <el-breadcrumb-item
        v-for="(item, index) in breadcrumbs"
        :key="item.path"
      >
        <span
          v-if="item.redirect === 'noredirect' || index === breadcrumbs.length-1"
          class="no-redirect"
        >{{ locale.route[item.meta.title] }}</span>
        <a
          v-else
          @click.prevent="handleLink(item)"
        >{{ locale.route[item.meta.title] }}</a>
      </el-breadcrumb-item>
    </transition-group>
  </el-breadcrumb>
</template>

<script lang="ts">
import { defineComponent, computed, watchEffect, ref } from '@vue/runtime-core'
import { compile } from 'path-to-regexp'
import { RouteRecordRaw, RouteRecordNormalized, useRoute, useRouter } from 'vue-router'
import { localization } from '@/lang/en'


export default defineComponent({
  name: 'Breadcrumb',
  setup() {
    const breadcrumbs = ref<RouteRecordRaw[]>([])

    const route = computed( () => useRoute() )
    const router = useRouter()
    const locale = localization

    const isDashboard = (route: RouteRecordNormalized) => {
      const check = route && route.name
      if (!check) return false

      const name = route.name as string
      return name.trim().toLocaleLowerCase() === 'Dashboard'.toLocaleLowerCase()
    }

    const routeRecord: any = []

    const getBreadcrumb = () => {
      let matched: any = route.value.matched.filter(item => (item.meta && item.meta.title))
      const first = matched[0]
      if (!isDashboard(first)) {
        matched = [
          { path: '/', redirect: '/dashboard', meta: { title: 'dashboard' } }
        ]
        .concat(matched)
      }
      breadcrumbs.value = matched.filter((item: any) => {
        return item.meta && item.meta.title && item.meta.breadcrumb !== false 
      })
    }

    const pathCompile = (path: string) => {
      const { params } = route.value
      const toPath = compile(path)
      return toPath(params)
    }

    const handleLink = (item: any) => {
      const { redirect, path } = item
      if (redirect) {
        router.push(redirect).catch(err => {
          console.warn(err)
        })
        return
      }
      router.push(pathCompile(path)).catch(err => {
        console.warn(err)
      })
    }

    getBreadcrumb()

    watchEffect(() => {
      if (route.value.path.startsWith('/redirect/')) return

      getBreadcrumb()

      /* console.log(route.value) */
    })

    return {
      breadcrumbs,
      handleLink,
      routeRecord,
      locale
    }

  }
})
</script>

<style lang="scss" scoped>
.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.app-breadcrumb.el-breadcrumb {
  display: inline-block;
  font-size: 14px;
  line-height: 50px;
  margin-left: 8px;

  .no-redirect {
    color: #97a8be;
    cursor: text;
  }
}
</style>
