<template>
  <div class="dashboard-container">
    <component :is="currentRole" />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/runtime-core'
import AdminDashboard from '@/views/dashboard/admin/index.vue'
import StaffDashboard from '@/views/dashboard/staff/index.vue'
import { useStore } from 'vuex'

export default defineComponent({
  name: 'Dashboard',
  components: {
    AdminDashboard,
    StaffDashboard,
  },
  setup() {
    const store = useStore()
    const currentRole = ref('admin-dashboard')

    const roles: string[] = store.state.user.roles

    if (!roles.includes('administrator')) currentRole.value = 'staff-dashboard'

    return {
      currentRole,
    }
  },
})
</script>
