<template>
  <div
    v-show="hasInit"
    class="tinymce-container"
  >
    <tinymce-editor
      :id="id"
      v-model="tinymceContent"
      :init="initOptions"
    />
    <div class="editor-custom-btn-container">
      <el-button
        type="primary"
        size="mini"
        class="editor-upload-btn"
        @click="save"
      >Save</el-button>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue'
import TinymceEditor from '@tinymce/tinymce-vue' // TinyMCE vue wrapper
import { plugins, toolbar, shortcuts } from './config'

const defaultId = () => 'vue-tinymce-' + +new Date() + ((Math.random() * 1000).toFixed(0) + '')

export default defineComponent({
  name: 'Tinymce',
  components: {
    TinymceEditor
  },
  props: {
    id: {
      default: defaultId,
      type: String
    },
    value: {
      required: true,
    },
    height: {
      default: 400,
      type: Number
    }
  },
  emits: ['save', 'loaded', 'input'],
  setup(props, { emit }) {
    const tinymceContent = ref(props.value)

    const hasInit = ref(false)

    const hasChange = ref(false)

    const initOptions = computed(() => {

      // setting the editor properties
      return {
        selector: `#{props.id}`,
        height: `${props.height}`,
        body_class: 'panel-body',
        object_resizing: false,
        plugins: plugins,
        toolbar: toolbar,
        toolbar_sticky: true,
        end_container_on_empty_block: true,
        powerpaste_word_import: 'clean',
        code_dialog_height: 450,
        code_dialog_width: 1000,
        default_link_target: '_blank',
        nonbreaking_force_tab: true,
        convert_urls: false,
        init_instance_callback: (editor: any) => {
          if (props.value) {
            editor.setContent(props.value)
          }

          hasInit.value = true

          editor.on('NodeChange Change KeyUp SetContent', () => {
            hasChange.value = true
            emit('input', editor.getContent())
          })
        },
        setup: (editor: any) => {
          editor.on('init', (args: any) => {
            if (args.target.id) emit('loaded', true)
          })
          // custom shortcuts.
          shortcuts(editor)
        }
      }
    })

    const save = async() => {
      emit('save', true)
    }

    return {
      initOptions,
      hasInit,
      tinymceContent,
      save
    }
  },
})
</script>

<style lang="scss" scoped>
.tinymce-container {
  position: relative;
  line-height: normal;

  .mce-fullscreen {
    z-index: 10000;
  }
}

.editor-custom-btn-container {
  position: absolute;
  right: 6px;
  top: 6px;
  z-index: 1002;
}

.fullscreen .editor-custom-btn-container {
  z-index: 10000;
  position: fixed;
}

.editor-upload-btn {
  display: inline-block;
}

textarea {
  visibility: hidden;
  z-index: -1;
}
</style>
