<template>
  <section class="app-main">
    <router-view :key="key" v-slot="{Component}">
      <transition
        appear
        name="fade-transform"
        mode="out-in"
      >
        <!--
        <keep-alive :include="cachedViews">
        -->
        <keep-alive>
          <component :is="Component"></component> 
        </keep-alive>
      </transition>
    </router-view>
  </section>
  <el-backtop target=".app-main"><i class="el-icon-caret-top"></i></el-backtop>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue'
/* import { TagsViewModule } from '@/store/modules/tags-view' */
import { useRoute } from 'vue-router'

export default defineComponent({
  name: 'AppMain',
  setup() {
    const route = useRoute()
    /* const cachedViews = TagsViewModule.getState().cachedViews */
    const key = computed(() => route.path)

    return {
      key,
      /* cachedViews */
    }
  }
})
</script>

<style lang="scss" scoped>
.app-main {
  /* 50= navbar  50  */
  min-height: calc(100vh - 50px);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.fixed-header+.app-main {
  padding-top: 50px;
  height: 100vh;
  overflow: auto;
}

.hasTagsView {
  .app-main {
    /* 84 = navbar + tags-view = 50 + 34 */
    min-height: calc(100vh - 84px);
  }

  .fixed-header+.app-main {
    padding-top: 84px;
  }
}
</style>
