<template>
  <div>401</div>
</template>

<script lang="ts">
import { defineComponent } from "@vue/runtime-core";


export default defineComponent({
  name: 'Page401',
  setup() {
    return {}
  }
})
</script>
