<template>
  <div class="app-container">
    <el-form
      id="user-form"
      ref="userFormRef"
      :model="userForm"
      :rules="rules"
      label-position="left"
      label-width="180px"
      size="medium"
    >
      <el-form-item label="Email" prop="email">
        <el-input v-model="userForm.email" />
      </el-form-item>
      <el-form-item label="Username" prop="username">
        <el-input v-model="userForm.username" />
      </el-form-item>
      <el-form-item label="Password" prop="password">
        <el-input v-model="userForm.password" type="password" show-password />
      </el-form-item>
      <el-form-item label="First Name" prop="first_name">
        <el-input v-model="userForm.first_name" />
      </el-form-item>
      <el-form-item label="Last Name" prop="last_name">
        <el-input v-model="userForm.last_name" />
      </el-form-item>
      <el-form-item label="Role">
        <el-select v-model="userForm.role" placeholder="Select Role">
          <el-option
            v-for="role in roles"
            :key="role.id"
            :value="role.attributes.slug"
            :label="role.attributes.name"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="Status">
        <el-checkbox v-model="userForm.activate">User Active</el-checkbox>
      </el-form-item>
      <el-form-item>
        <el-button v-if="!userId" type="primary" @click="submit"
          >Create</el-button
        >
        <el-button v-else type="primary" @click="submit">Update</el-button>
        <el-button v-if="!userId" @click="reset">Reset</el-button>
        <el-button @click="generate">Generate Password</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watchEffect } from '@vue/runtime-core'
import { useRouter } from 'vue-router'
import { getRoles } from '@/api/roles'
import { getUserById, register, updateUser } from '@/api/users'
import {
  ElForm,
  ElNotification,
  ElMessage,
} from 'element-plus'
interface IUserForm {
  email: string
  username: string
  password: string
  first_name: string
  last_name: string
  role: string
  activate: boolean
}

const userFormDefault: IUserForm = {
  email: '',
  username: '',
  password: '',
  first_name: '',
  last_name: '',
  role: 'administrator', // default value is admin with id as string
  activate: false,
}

const rules = {
  email: [
    { required: true, message: 'Please input email', trigger: 'blur' },
    {
      type: 'email',
      message: 'Please enter a valid email address',
      trigger: 'blur',
    },
  ],
  username: [
    { required: true, message: 'Please input username', trigger: 'blur' },
    { min: 3, max: 100, message: 'Length should be 3 to 5', trigger: 'blur' },
  ],
  password: [
    { required: false, message: 'Please input password', trigger: 'blur' },
    { min: 3, max: 100, message: 'Length should be 3 to 5', trigger: 'blur' },
  ],
  first_name: [
    { required: true, message: 'Please input first name', trigger: 'blur' },
    { min: 3, max: 100, message: 'Length should be 3 to 5', trigger: 'blur' },
  ],
  last_name: [
    { required: true, message: 'Please input last name', trigger: 'blur' },
    { min: 3, max: 100, message: 'Length should be 3 to 5', trigger: 'blur' },
  ],
}

export default defineComponent({
  name: 'UserCreate',
  props: {
    userId: {
      type: Number,
      default: 0,
    },
  },
  setup(props) {
    const userForm = ref<IUserForm>(userFormDefault)
    const userFormRef = ref(ElForm)
    const roles = ref<[]>([])
    const router = useRouter()

    // EVENTS
    const fetchRoles = async() =>
      await getRoles({}).then((response) =>
        Object.assign(roles.value, response.data.data)
      )

    const fetchUser = async() =>
      await getUserById(props.userId)
        .then((response) => {
          response.data.data

          const data = response.data.data.data

          userForm.value = {
            email: data.email,
            username: data.username,
            password: '',
            first_name: data.first_name,
            last_name: data.last_name,
            role: data.role[0],
            activate: true,
          }
        })
        .catch(() => router.push({ name: 'NotFound' }))

    const submit = () => {
      userFormRef.value.validate(async(valid) => {
        if (valid && props.userId === 0) {
          await register(userForm.value).then((response) => {
            if (!response.data.error) {
              ElNotification({
                title: 'User Creation',
                message: 'A new user has been created...',
                duration: 3500,
              })
              reset()
            }
          })
        } else {
          await updateUser(props.userId, userForm.value).then(() => {
            ElMessage({
              message: 'User info updated',
              type: 'success',
              duration: 3500,
            })
          })
        }
      })
    }

    const reset = () => userFormRef.value.resetFields()

    // generate alphanumeric string with 8 characters
    const generate = () =>
      (userForm.value.password = Math.random().toString(36).slice(-10))

    // HOOKS

    if (props.userId) fetchUser()

    fetchRoles()

    watchEffect(() => userFormRef.value)

    return {
      rules,
      roles,
      userForm,
      userFormRef,
      generate,
      submit,
      reset,
    }
  },
})
</script>

<style lang="scss">
#user-form {
  min-width: 300px;
  width: 700px;
}
</style>
