<template>
  <div class="app-container">
    <div class="filter-container">
      <el-button type="primary" icon="el-icon-edit" style="margin-right: 10px">
        Add
      </el-button>
      <el-input
        v-model="searchInput"
        style="width: 210px; margin-right: 3px"
        placeholder="Type to search..."
        @change="handleSearch"
      />
      <el-select
        v-model="searchType"
        placeholder="Search By"
        style="width: 110px"
      >
        <el-option label="Username" value="username" />
        <el-option label="Email" value="email" />
      </el-select>
    </div>
    <el-table :data="filteredList" :height="vh" size="medium" border>
      <el-table-column align="center" label="ID" width="70">
        <template #default="{row}">
          {{ row.id }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="Email" width="220">
        <template #default="{row}">
          {{ row.email }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="Role" width="170">
        <template #default="{row}">
          {{ row.role }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="Username">
        <template #default="{row}">
          {{ row.username }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="First Name">
        <template #default="{row}">
          {{ row.first_name }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="Last Name">
        <template #default="{row}">
          {{ row.last_name }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="Actions" width="170">
        <template #default="{row}">
          <el-button size="mini" type="primary" @click="EditUser(row.id)">
            Edit
          </el-button>
          <el-button size="mini" type="danger" @click="DeleteUser(row.id)">
            Delete
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      v-model:currentPage="pagination.currentPage"
      background
      style="margin-top: 30px"
      layout="total, prev, pager, next, jumper"
      :page-size="pagination.perPage"
      :total="pagination.total"
      @current-change="GetUserList"
    />
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onBeforeMount,
  onMounted,
  ref,
} from '@vue/runtime-core'
import { useRouter } from 'vue-router'
import { getUsers, paginate, deleteUser } from '@/api/users'
import { ElMessageBox, ElMessage } from 'element-plus'

interface IUsers {
  id: number
  email: string
  username: string
  role: string[]
  first_name: string
  last_name: string
}

interface IPagination {
  total: number
  count: number
  perPage: number
  currentPage: number
  totalPages: number
}

interface IPaginationLinks {
  currentLink: string
  first: string
  last: string
  prev: string
  next: string
}

const paginationDefault: IPagination = {
  total: 0,
  count: 0,
  perPage: 0,
  currentPage: 0,
  totalPages: 0,
}

const paginationLinksDefault: IPaginationLinks = {
  currentLink: '',
  first: '',
  last: '',
  prev: '',
  next: '',
}

export default defineComponent({
  name: 'Users',
  setup() {
    const userList = ref<IUsers[]>([])
    const filteredList = ref<IUsers[]>(userList.value)
    const searchInput = ref('')
    const searchType = ref('username')
    const pagination = ref<IPagination>(paginationDefault)
    const links = ref<IPaginationLinks>(paginationLinksDefault)
    const firstLoad = ref(true)
    const vh = ref(0)
    const router = useRouter()

    // EVENTS
    const GetUserList = async(page = 1) => {
      let [data, link, meta]: Array<string> = []

      if (firstLoad.value) {
        [data, link, meta] = await getUsers({
          /* params */
        }).then((response) => [
          response.data.data,
          response.data.links,
          response.data.meta,
        ])

        firstLoad.value = false
      } else {
        [data, link, meta] = await paginate({ page: page }).then(
          (response) => [
            response.data.data,
            response.data.links,
            response.data.meta,
          ]
        )
      }

      // userList.value = []
      userList.value = [] // empty and replace with new data

      if (!data) throw Error('Failed to get users')

      data.forEach((item) => {
        userList.value.push({
          id: item.id,
          email: item.attributes.email,
          role: item.attributes.role,
          username: item.attributes.username,
          first_name: item.attributes.last_name,
          last_name: item.attributes.last_name,
        })
      })

      links.value = {
        currentLink: link.self,
        first: link.first,
        last: link.last || '',
        prev: link.prev || '',
        next: link.next || '',
      }

      //pagination
      pagination.value = {
        total: meta.pagination.total,
        count: meta.pagination.count,
        perPage: meta.pagination.per_page,
        currentPage: meta.pagination.current_page,
        totalPages: meta.pagination.total_pages,
      }
      handleSearch()
    }

    const DeleteUser = (event) => {
      /* const toDelete = filteredList.value.findIndex(usr => usr.id === event)! */

      ElMessageBox.confirm('Confirm delete?', 'Delete User', {
        confirmButtonText: 'Delete',
        cancelButtonText: 'Cancel',
        type: 'warning',
      })
        .then(async(action) => {
          if (action === 'confirm') {
            const [data, status] = await deleteUser(event).then((response) => [
              response.data,
              response.status,
            ])
            console.log(data, status)
            console.log(data.error)
            console.log(data.error)
          }

          ElMessage('User has been deleted!')
          /* filteredList.value.splice(toDelete, 1) */
          /* userList.value.splice(toDelete, 1) */
          GetUserList()
        })
        .catch((error) => {
          console.log(error)
        })
    }

    const EditUser = (event) =>
      router.push({ name: 'UserEdit', params: { userId: event } })

    const handleSearch = () => {
      return (filteredList.value = userList.value.filter((user: IUsers) => {
        if (searchType.value === 'username')
          return user.username
            .toLowerCase()
            .includes(searchInput.value.toLowerCase())
        return user.email
          .toLowerCase()
          .includes(searchInput.value.toLowerCase())
      }))
    }

    const handleScreenResize = () => {
      vh.value =
        Math.max(
          document.documentElement.clientHeight || 0,
          window.innerHeight || 0
        ) * 0.71
    }

    // HOOKS
    onBeforeMount(() => (handleScreenResize(), GetUserList())) // load first page default

    onMounted(() => window.addEventListener('resize', handleScreenResize))

    return {
      userList,
      pagination,
      GetUserList,
      DeleteUser,
      EditUser,
      filteredList,
      searchInput,
      searchType,
      handleSearch,
      vh,
    }
  },
})
</script>

<style lang="scss" scoped>
.app-container {
  padding: 10px 20px;
}
</style>
