<template>
  <div class="app-container">
    <el-table :data="rolesData">
      <el-table-column prop="id" label="ID"> </el-table-column>
      <el-table-column prop="slug" label="Slug"> </el-table-column>
      <el-table-column prop="name" label="Name"> </el-table-column>
    </el-table>
  </div>
</template>

<script lang="ts">
import { defineComponent, onBeforeMount, ref } from '@vue/runtime-core'
import { getRoles } from '@/api/roles'

interface role {
  id: number
  slug: string
  name: string
}

export default defineComponent({
  name: 'Role',
  setup() {
    const rolesData = ref<role[]>([])

    const roles = async() => {
      const { data } = await getRoles({
        /* Params here */
      })

      data.data.forEach((item) => {
        rolesData.value.push({
          id: item.id,
          slug: item.attributes.slug,
          name: item.attributes.name,
        })
      })
    }

    onBeforeMount(() => roles())

    return {
      rolesData,
    }
  },
})
</script>
