<template>
  <el-form label-position="top">
    <el-form-item label="Username">
      <el-input v-model.trim="formUser.username" @keyup="updateFormData" />
    </el-form-item>
    <el-form-item label="First Name">
      <el-input v-model.trim="formUser.first_name" @keyup="updateFormData" />
    </el-form-item>
    <el-form-item label="Last Name">
      <el-input v-model.trim="formUser.last_name" @keyup="updateFormData" />
    </el-form-item>
    <el-form-item label="Email">
      <el-input v-model.trim="formUser.email" @keyup="updateFormData" />
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="update"> Update </el-button>
    </el-form-item>
  </el-form>
</template>

<script lang="ts">
import { updateUser } from '@/api/users'
import { ElMessage } from 'element-plus'
import { defineComponent, ref, PropType } from 'vue'
import { useStore } from 'vuex'
import { IProfile } from '../index.vue'

export default defineComponent({
  name: 'Account',
  emits: ['updateAccount'],
  props: {
    user: {
      required: true,
      type: Object as PropType<IProfile>,
    },
  },
  setup(props, { emit }) {
    const store = useStore()
    const formUser = ref(props.user)
    const update = () => {
      updateUser(props.user.id, formUser.value)
      console.log(props.user)
      store.dispatch('GetUserInfo')

      ElMessage({
        message: 'User account updated',
        type: 'success',
        duration: 2.8 * 1000,
      })
    }

    const updateFormData = () => {
      emit('updateAccount', formUser.value)
    }

    return {
      update,
      formUser,
      updateFormData,
    }
  },
})
</script>

