<template>
  <div if="google2faEnabled">  
    <div v-html="qr"></div>
    <p>Google Two-Factor Authentication is enabled</p>
  </div>
</template>

<script lang="ts">
import {  defineComponent, onBeforeMount, ref } from 'vue'
import { getQRCode } from '@/api/users'
import { useStore } from 'vuex'

export default defineComponent({
  name: 'Mfa',
  setup() {
    const store = useStore()
    const google2faEnabled = store.state.user.google2faSecret
    const qr = ref<any>(null)

    onBeforeMount(async() => {
      qr.value = await getQRCode(store.state.user.id).then(res => {
        console.log(res)
        return res.data
      })
    })

    return {
      qr,
      google2faEnabled
    }
  }
})
</script>

