<template>
  <el-form ref="passwordForm" label-position="top">
    <el-form-item label="Current Password">
      <el-input v-model.trim="passwordOld" type="password" />
    </el-form-item>
    <el-divider style="margin: 50px 0"><svg-icon name="lock" /></el-divider>
    <el-form-item label="New Password">
      <el-input v-model.trim="passwordNew" type="password" />
    </el-form-item>
    <el-form-item label="Confirm Password">
      <el-input v-model.trim="passwordConfirm" type="password" />
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="reset">Reset Password</el-button>
    </el-form-item>
  </el-form>
</template>

<script lang="ts">
import { ElMessage } from 'element-plus'
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'PasswordReset',
  setup() {
    const passwordForm = null
    const passwordOld = ref('')
    const passwordNew = ref('')
    const passwordConfirm = ref('')

    const reset = () => {
      ElMessage({
        message: 'Not implemented yet',
        type: 'warning',
        duration: 2.8 * 1000,
      })
    }

    return {
      passwordForm,
      passwordOld,
      passwordNew,
      passwordConfirm,
      reset,
    }
  },
})
</script>

