<template>
  <el-card style="margin-bottom: 20px">
    <template #header class="clearFix">
      <span>About Me</span>
    </template>

    <div class="user-profile">
      <div class="box-center">
        <pan-thumb
          :image="user.avatar"
          :height="'100px'"
          :width="'100px'"
          :hoverable="false"
        >
          <div>Hello</div>
          {{ user.roles }}
        </pan-thumb>
      </div>
      <div class="box-center">
        <div class="user-name text-center">
          {{ user.first_name + ' ' + user.last_name }}
        </div>
        <div class="user-role text-center text-muted">
          {{ uppercaseFirstChar(user.roles) }}
        </div>
      </div>
    </div>
  </el-card>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import PanThumb from '@/components/PanThumb/index.vue'
import { IProfile } from '../index.vue'

export default defineComponent({
  name: 'UserCard',
  components: {
    PanThumb,
  },
  props: {
    user: {
      required: true,
      type: Object as PropType<IProfile>,
    },
  },
  methods: {
    uppercaseFirstChar(word: string) {
      return word.charAt(0).toUpperCase() + word.slice(1)
    },
  },
})
</script>

<style lang="scss" scoped>
.box-center {
  margin: 0 auto;
  display: table;
}

.text-muted {
  color: #777;
}

.user-profile {
  .user-name {
    font-weight: bold;
  }

  .box-center {
    padding-top: 10px;
  }

  .user-role {
    padding-top: 10px;
    font-weight: 400;
    font-size: 14px;
  }

  .box-social {
    padding-top: 30px;

    .el-table {
      border-top: 1px solid #dfe6ec;
    }
  }

  .user-follow {
    padding-top: 20px;
  }
}

.user-bio {
  margin-top: 20px;
  color: #606266;

  span {
    padding-left: 4px;
  }

  .user-bio-section {
    font-size: 14px;
    padding: 15px 0;

    .user-bio-section-header {
      border-bottom: 1px solid #dfe6ec;
      padding-bottom: 10px;
      margin-bottom: 10px;
      font-weight: bold;
    }
  }
}
</style>
