<template>
  <div
    :class="classObj"
    class="app-wrapper"
  >
    <div
      v-if="classObj.mobile && sidebar.opened"
      class="drawer-bg"
      @click="handleClickOutside"
    ></div>
    <!-- Sidebar Container -->
    <sidebar class="sidebar-container"></sidebar>

    <!-- Main Container -->
    <div
      :class="{hasTagsView: showTagsView}"
      class="main-container"
    >
      <div
        :class="{'fixed-header': fixedHeader}"
      >
        <!-- Navbar -->
        <navbar />
        <!-- TagsView -->
      </div>
      <!-- App Main -->
      <app-main />
      <!-- Right Panel -->
    </div>
  </div>
</template>

<script lang="ts">
import { DeviceType } from '@/store/modules/app'
import { defineComponent, onBeforeMount, onBeforeUnmount, onMounted, watch, computed } from 'vue'
import { useRoute } from 'vue-router'
import { useStore} from 'vuex'
/* import { AppMain, Navbar, Sidebar, TagsView } from './components' */
import { AppMain, Sidebar, Navbar } from './components'


const WIDTH = 992

export default defineComponent({
  name: 'Layout',
  components: {
    AppMain,
    Sidebar,
    Navbar
  },
  setup() {
    const store = useStore()
    const device = computed( () => store.state.app.device)
    const sidebar = computed( () => store.state.app.sidebar)
    const classObj = computed( () => {
      return {
        hideSidebar: !sidebar.value.opened,
        openSidebar: sidebar.value.opened,
        withoutAnimation: sidebar.value.withoutAnimation,
        mobile: device.value === DeviceType.Mobile
      }
    })

    const showSetting = computed( () => store.state.setting.showSetting)
    // const showTagsView = computed( () => store.state.setting.showTagsView)
    const fixedHeader = computed( () => store.state.setting.fixedHeader)

    // EVENTS
    const isMobile = () => {
      const rect = document.body.getBoundingClientRect()
      return rect.width - 1 < WIDTH
    }

    const resizeHandler = () => {
      if (!document.hidden) {
        const ismobile = isMobile()
        store.dispatch('ToggleDevice', ismobile ? DeviceType.Mobile : DeviceType.Desktop)

        if (ismobile) store.dispatch('CloseSidebar', true)
      }
    }

    const handleClickOutside = () => store.dispatch('CloseSidebar', true)

    // WATCHERS
    const route = useRoute()
    watch( () => route, () => {
      if (device.value === DeviceType.Mobile && sidebar) {
        store.dispatch('CloseSidebar', false)
      }
    })


    // HOOKS
    onBeforeMount(() => {
      window.addEventListener('resize', resizeHandler)
    })

    onMounted(() => {
      const ismobile = isMobile()
      if (ismobile) {
        store.dispatch('ToggleDevice', DeviceType.Mobile)
        store.dispatch('CloseSidebar', true)
      }
    })

    onBeforeUnmount(() => {
      window.removeEventListener('resize', resizeHandler)
    })

    return {
      device,
      sidebar,
      classObj,
      handleClickOutside,
      showSetting,
      fixedHeader,
      /* showTagsView */
    }
  }
})
</script>

<style lang="scss" scoped>
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
$sideBarWidth: 210px;

.app-wrapper {
  @include clearfix;
  position: relative;
  height: 100%;
  width: 100%;
}

.drawer-bg {
  background: #000;
  opacity: 0.3;
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 999;
}

.main-container {
  min-height: 100%;
  transition: margin-left .28s;
  margin-left: $sideBarWidth;
  position: relative;
}

.sidebar-container {
  transition: width 0.28s;
  width: $sideBarWidth !important;
  height: 100%;
  position: fixed;
  font-size: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
}

.fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  width: calc(100% - #{$sideBarWidth});
  transition: width 0.28s;
}

.hideSidebar {
  .main-container {
    margin-left: 54px;
  }

  .sidebar-container {
    width: 54px !important;
  }

  .fixed-header {
    width: calc(100% - 54px)
  }
}

/* for mobile response 适配移动端 */
.mobile {
  .main-container {
    margin-left: 0px;
  }

  .sidebar-container {
    transition: transform .28s;
    width: $sideBarWidth !important;
  }

  &.openSidebar {
    position: fixed;
    top: 0;
  }

  &.hideSidebar {
    .sidebar-container {
      pointer-events: none;
      transition-duration: 0.3s;
      transform: translate3d(-$sideBarWidth, 0, 0);
    }
  }

  .fixed-header {
    width: 100%;
  }
}

.withoutAnimation {
  .main-container,
  .sidebar-container {
    transition: none;
  }
}
</style>
